<div class="content">
  <div class="titulo">
    <div>
      Listado de <b style="color: #9fcb2c">tecnologías</b>
      <p>Favoritos - {{cantidadFav}} / {{listado.length}} </p>
    </div>
    <div class="buscador">
      <input
        [(ngModel)]="textobuscar"
        (keyup)="filtrar()"
        placeholder="Buscar">
      <div class="btn-ordenar" (click)="ordenarLista()">Ordenar A-Z</div>
    </div>


  </div>
  <div class="listado">
    <div class="card" *ngFor="let item of listado">
      <div class="title">
        <div class="btn-favorito" (click)="item.favorito? item.favorito=false : item.favorito=true ; guardarListado()"
             [ngClass]="item.favorito ? 'fav' : 'nofav' ">
          fav
        </div>
        {{item.tech}}
      </div>
      <div class="lenguaje">
        {{item.language}} -
        <b> {{item.type}}</b>
      </div>
      <div class="logo">
        <img src="{{item.logo}}">
      </div>
      <div class="data">
        <p>{{item.year}} - {{item.author}}</p>
        <p>{{item.license}}</p>
      </div>
    </div>
  </div>
</div>
