.content {
  color: #36373a;

  .titulo {
    display: flex;
    padding: 2vw;
    font-size: 2vw;
    background-image: url("~src/assets/backgrounds/Bg_Header.png");
    background-size: cover;
    border-bottom: solid 1px #dbdbe5;

    p {
      margin: 1vw 0;
      font-size: 1.3vw;
    }

    .buscador {

      width: 67vw;
      display: grid;
      justify-items: end;

      input {
        border: solid 1px #dbdbe5;
        padding: 1.2vw;
        border-radius: 2vw;
        width: 20vw;

        &:focus {
          color: #36373a;
          outline: none;
          border: solid 1px #3caadc;
        }

      }

      .btn-ordenar{
        background-color: #FFFFFF;
        border: solid 1px #9fcb2c;
        border-radius: 2vw;
        width: 13vw;
        padding: 1.2vw;
        font-size: 1.5vw;
        display: flex;
        justify-content: center;
        margin-top: 1vw;

        &:hover{
          background-color: #9fcb2c;
          color: #FFFFFF;
          cursor : pointer;
        }
      }
    }
  }

  .listado {
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .card {
      margin: 2vw 0;
      padding: 3vw;
      width: 20vw;
      height: 30vw;
      border-radius: 2vw;
      box-shadow: 0 0 15px #ddd;

      .title {
        font-size: 2vw;
        color: #3caadc;
        display: flex;
        align-items: center;
      }

      .lenguaje {
        font-size: 1.5vw;
      }

      .logo {
        display: flex;
        padding: 2vw;
        height: 15vw;
        justify-content: center;
        align-items: center;

        img {
          width: 15vw;
        }
      }

      .data {
        p {
          font-size: 1.2vw;
        }
      }


    }
  }
}


.btn-favorito {
  width: 2.5vw;
  height: 2vw;
  font-size: 1vw;
  border-radius: 10vw;
  margin-right: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}

.fav {
  background-color: #9fcb2c;
  color: #4c5d15;
}

.nofav {
  background-color: #a9a9ab;
  color: #36373a;
}
